header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #dae2ec;
 
}
.head{
  display: flex;
  flex-direction: row;
}

.main-cnt {
  background-color: #faf9f9;
  min-height: 100vh;
}
.disp-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 5px 2px 6px 5px rgba(200,200,200,0.27); 
  box-shadow: 5px 2px 6px 5px rgba(200,200,200,0.27);
}

.sl-cnt {
  max-width: max-content;
}

.flx-cnt {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.brd-grd-cnt {
  padding: 2.5rem;
}
.setting{
  transform: rotate(90deg);
}
.brd-grd-inn {
  display: grid;
  gap: 10px;
  height: 100%;
  max-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sl-ele {
  width: 15rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: capitalize;
}

.sl-popup {
  max-width: max-content;
  padding: 1rem;
  margin-top: 0.3rem;
  position: absolute;
  background-color: white;
  z-index: 100000;
}

.sl-popup .flx-cnt {
  align-items: center;
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}

@media screen and (max-width: 1000px) {
  .brd-grd-inn {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  
}
.sl-cnt{
  justify-content: center;
  align-items: center;
  display: flex;
}
.imgCnt{
  justify-content: center;
  align-items: center;
  display: flex;
}
.img{
  height: 50px;
  width: 200px;
  margin: auto;
  display: flex;
  margin-left: 37%;
  justify-content: center;
  align-items: center;
}
.user{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid gray;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .sl-cnt{
    margin-left: 3%;
  }
  .user{
    visibility: hidden;
  }
  .img{
    margin-left: 25%;
  }
}